body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
 
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
 
.header {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}
 
.profile {
  display: flex;
  align-items: center; /* sejajarkan vertikal */
  margin: 20px 0;
}

.foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}
 
.info {
  flex: 1; /* isi ruang yang tersisa */
}
 
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* bagi rata */
  flex-wrap: wrap; /* agar skill rensponsive*/
  margin-top: 20px;
}
 
.skill {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  margin: 5px;
  text-align: center;
}